name: Check Nginx status with Ansible
run-name: Check Nginx status on target machine
on:
  workflow_dispatch:

jobs:
  nginx-status-ansible:
    runs-on: [self-hosted, self-agent1]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Show the Runner Info
        run: |
          echo "Runner name: $RUNNER_NAME"
          echo "Work dir: $RUNNER_WORKSPACE"
          pwd
          ls -lart

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i inventory.ini check_nginx_status.yaml
      - name: Fetch the content from target to runner
        run: |
           scp -o StrictHostKeyChecking=no -i /home/githuba/.ssh/id_rsa githuba@172.19.0.5:/tmp/nginx_status.txt ./nginx_status.txt
      - name: Display the fetched nginx status
        run: cat ./nginx_status.txt
      
      - name: Upload nginx status as artifact
        uses: actions/upload-artifact@v4
        with:
          name: nginx-status
          path: ./nginx_status.txt
      
  download-nginx-status:
    runs-on: [self-hosted, self-agent1]
    needs: nginx-status-ansible
    steps:
      - name: Download nginx status artifact
        uses: actions/download-artifact@v4
        with:
          name: nginx-status
      - name: Display the downloaded nginx status
        run: |
          STATUS=$(cat ./nginx_status.txt)
          echo "Nginx status: $STATUS"
          if [ "$STATUS" = "active" ]; then
            echo "Nginx is running"
          else
            echo "Nginx is not running"
          fi
  post-upgradecheck:
    runs-on: [self-hosted, self-agent1]
    needs: [download-nginx-status, nginx-status-ansible]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i inventory.ini post_check_nginx_status.yaml

      - name: Fetch the content from target to runner
        run: |
           scp -o StrictHostKeyChecking=no -i /home/githuba/.ssh/id_rsa githuba@172.19.0.5:/tmp/post_nginx_status.txt ./post_nginx_status.txt
      - name: Display the fetched nginx status
        run: cat ./post_nginx_status.txt
      
      - name: Upload nginx status as artifact
        uses: actions/upload-artifact@v4
        with:
          name: post-nginx-status
          path: ./post_nginx_status.txt
      - name: compare pre and post upgrade nginx.txt files
        uses: actions/download-artifact@v4
        with:
          name: nginx-status
      - name: compare pre and post upgrade nginx.txt files 
        uses: actions/download-artifact@v4
        with:
          name: post-nginx-status
      - name: Compare nginx status before and after upgrade
        run: |
          echo "Comparing nginx status before and after upgrade..."
          if diff -q ./nginx_status.txt ./post_nginx_status.txt > /dev/null; then
            echo "Nginx status is the same before and after upgrade."
          else
            echo "Nginx status has changed after upgrade."
          fi
          
    
     


          